@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body{
    background-color: #202020;
}

nav.menu-lateral{
    width: 15%;
    height: 100%;
    background-color: #202020;
    padding: 40px 0 40px 1%;
    box-shadow: 3px 0 0 #801c77;

    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .2s;

}

label{
    color: #fff;
    padding: 7px;
}

nav.menu-lateral.expandir{
    width: 300px;
}

.btn-expandir{
    width: 100%;
    padding-left: 10px;
}

.btn-expandir > i{
    color: #fff;
    font-size: 24px;
    cursor: pointer;
}

ul{
    height: 100%;
    list-style-type: none;
}

ul li.item-menu{
    transition: .25;
}

ul li.ativo{
    background-color: #801c77;
}

ul li.item-menu:hover{
    background-color: #801c77;
}

ul li.item-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 4%;
    display: flex;
    margin-bottom: 20px;
    line-height: 40px;

}

ul li.item-menu a .txt-link{
    margin-left: 70px;
    transition: 1s;
    opacity: 0;
}

nav.menu-lateral.expandir .txt-link{
    margin-left: 40px;
    opacity: 1;
}

ul li.item-menu a .icon > i{
    font-size: 30px;
    margin-left: 10px;
}

.btn-primary{
    background-color: #801c77;
    color: #fff;
    border-color: black;
}


/* formulario */

.container{
    background-color: transparent;
    padding-top: 100px;
    padding-left: 65px;
    max-width: 68%;
    color: white;
}

thead,th,td{
    height: 58px;
}
img {
    border-radius: 15px;
    width: 250px;
    height: 250px;
}