
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>Tela de Login</title>
</head>
<body>
<div class="background">
    <div class="login-container">
        <div class="left">
            <h2>IMPULSIONE</h2>
        </div>

        <div class="right">
           <p>Informe o E-mail de recuperação</p>

            <form th:action="@{/forgotPassword}" method="post">
                <input type="email" name="email" placeholder="Digite seu e-mail" required>
                <button type="submit">Enviar</button>
            </form>

        </div>
    </div>
</div>

<script>
    function redirecionarParaEventos() {
        // Use window.location.href para redirecionar para a página de eventos.html
        window.location.href = "eventos.html";
    }
</script>
</body>



</html>
