<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Responsivo | GN</title>
    <link th:href="@{/css/allevent2.css}" rel="stylesheet" />

</head>

<body id="body">

    <header>
        <nav>
            <a class="logo" href="#" style="color: #b040ff;">IMPULSIONE</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>

            <ul class="nav-list">
                <li>
                    <div class="search_container">
                        <input type="text" id="search_input" placeholder="Pesquisar...">
                        <button id="search_button">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c-.027.025-.06.045-.089.069l-3.815 3.814a1 1 0 0 0-.001 1.415 1 1 0 0 0 1.414 0l3.815-3.815a1.001 1.001 0 0 0 .068-.088h.001a6.5 6.5 0 0 0 0-9.192zM10 6.5a4.5 4.5 0 1 1-9 0 4.5 4.5 0 0 1 9 0z" />
                            </svg>
                        </button>
                    </div>
                </li>
                <li><a href="index.html">Início</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </nav>
    </header>


    <div class="slogan" style="color: #ffffff;">

        <h3>Eventos ao seu alcance: Descubra, Conecte-se!</h3>

    </div>


    <section class="categoria-1">
        <div class="melhoresEventos">
            <h3>Melhores eventos da semana</h3>
        </div>
        <div>
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://media.fstatic.com/dQHyN7mv7wQ9_PCyDIUtiXD56vk=/210x303/smart/filters:format(webp)/media/movies/covers/2013/10/a-casa-monstro_t1228.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
        </div>
    </section>


    <section class="categoria-2">
        <div class="melhoresEventos">
            <h3>Melhores eventos do mês</h3>
        </div>
        <div>
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://media.fstatic.com/dQHyN7mv7wQ9_PCyDIUtiXD56vk=/210x303/smart/filters:format(webp)/media/movies/covers/2013/10/a-casa-monstro_t1228.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
        </div>
    </section>

    <section class="categoria-3">
        <div class="melhoresEventos">
            <h3>Top 10 shows</h3>
        </div>
        <div>
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://media.fstatic.com/dQHyN7mv7wQ9_PCyDIUtiXD56vk=/210x303/smart/filters:format(webp)/media/movies/covers/2013/10/a-casa-monstro_t1228.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover/img/agente-oculto-24105342775145.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/D_NQ_NP_910108-MLB44447138037_122020-O.jpg"
                alt="">
            <img src="https://carlos-alexandre-leutz.github.io/card-netflix-hover//img/1153ab111c3bb630309dff1a036f6d29.jpg"
                alt="">
        </div>
    </section>


</body>

<script src="assets/js/allevent2.js"></script>

</html>